<div class="row contest-area">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <iframe name="hidden_iframe" id="hidden_iframe"></iframe>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <form id="contest" role="form" action="https://docs.google.com/forms/d/173V8vD5HToIOONuCNV_0d9-gfYqQe8XdC-UTA9PvqYU/formResponse" method="POST" target="hidden_iframe">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="entry.1862104037" value="" class="form-control" id="entry_1862104037" dir="auto" aria-label="First Name  " title="" required>
      </div>
      <div class="form-group">
        <label for="email">Parent's Email <span class="smaller-label">(Parents, enter your own email address)</span></label>
        <input type="text" name="entry.322932457" value="" class="form-control" id="entry_322932457" dir="auto" aria-label="Email  " title="" required>
      </div>
      <div class="text-left terms">
        <div class="row">
          <div class="col-xs-1 col-xs-offset-1 checkbox-wrap">
            <input type="checkbox" name="entry.69019987" value="Agreed" id="group_69019987_1" role="checkbox" class="ss-q-checkbox">
          </div>
          <div class="col-xs-9">
            <label for="entry.69019987">By entering I acknowledge that I have read, understand and agree to the <a href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a> and the Terms of Use.</label>
          </div>
        </div>
      </div>
      <div class="text-center pad-top disc">
        <b>NO PURCHASE NECESSARY. MANY WILL ENTER. ONE WILL WIN.</b>
        <p>Open to legal residents of 50 US and D.C, ages 6 to 18 or parents of kids 6 to 18.</p>
        <b>Starts 12:00am PT on 3/5/16; ends 11:59pm PT on 3/24/16.</b>
        <p>Official Rules at RadioDisneyApp.com/rules. Minors must get parent’s permission. Must travel 4/29/16. Void where prohibited. Mobile app download is required.</p>
      </div>
      <div class="submit-wrap text-center">
        <button type="submit" class="disney-submit"></button>
      </div>
      <p class="entries">Unlimited entries through March 24, 2016</p>
      <p class="text-center">
        <a class="rules" href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a>
      </p>
    </form>
  </div>
</div>
